<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.Dao.FileDao">

    <select id="getFileList" resultType="web.Entry.File">
        select * from File
    </select>
    <select id="getSingleFile" resultType="web.Entry.File">
        select * from File where file_id = #{file_id}
    </select>
    <update id="addFileLike" parameterType="web.Entry.File">
        update File set like_count = #{like_count} where file_id = #{file_id}
    </update>
    <update id="addFileDownload" parameterType="web.Entry.File">
        update File set download_count = #{download_count} where file_id = #{file_id}
    </update>
    <update id="addFileClick" parameterType="web.Entry.File">
        update File set click_count = #{click_count} where file_id = #{file_id}
    </update>
    <insert id="addFile" parameterType="web.Entry.File">
        insert into File(file_id, file_topic, file_name, file_url, file_type, upload_time, like_count, download_count, click_count, ifCan_download, file_subject, level)
        values (#{file_id}, #{file_topic}, #{file_name}, #{file_url}, #{file_type}, #{upload_time}, #{like_count}, #{download_count}, #{click_count}, #{ifCan_download}, #{file_subject}, #{level},)
    </insert>
    <select id="getSpecificFileList" resultType="web.Entry.File">
        select * from File where file_subject = #{file_subject} and level = #{level} and file_type = #{file_type}
    </select>
</mapper>