<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.Dao.UserDao">

    <select id="getUserByName" resultType="web.Entry.User">
        select * from User where username = #{username}
    </select>

    <select id="getAllUser" resultType="web.Entry.User">
        select * from User
    </select>

    <insert id="registerUser" parameterType="web.Entry.User">
        insert into User(user_id, username, password, status, class_name) values (#{user_id}, #{username}, #{password}, #{status}, #{class_name})
    </insert>

    <insert id="addTeacherByAdmin" parameterType="web.Entry.User">
        insert into User(user_id, username, password, status, class_name) values (#{user_id}, #{username}, #{password}, #{status}, #{class_name})
    </insert>

    <update id="updateUserInfoByAdmin" parameterType="web.Entry.User">
        update User set username = #{username}, password = #{password}, class_name = #{class_name} where user_id = #{user_id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.String">
        delete from User where user_id = #{user_id}
    </delete>

    <update id="updateUserClassName">
        update User set class_name = #{class_name} where user_id = #{user_id}
    </update>

    <select id="ifExistClass" resultType="web.Entry.Classes">
        select * from Classes where class_name = #{class_name}
    </select>

    <select id="getUserByClassName" resultType="web.Entry.User">
        select * from User where class_name = #{class_name}
    </select>
</mapper>

