<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.Dao.UserDao">

<!--    查询所有用户-->
      <select id="selectAll" resultType="web.Entry.User">
          select * from user
      </select>

<!--    根据用户名查询用户-->
      <select id="selectByUsername1" resultType="web.Entry.User">
          select * from user where username = #{username}
      </select>

     <select id="selectByUsername2" resultType="web.Entry.User">
        select * from user where username = #{username}
     </select>


    <!--    根据用户名和密码查询用户-->
      <select id="selectByUsernamePass" resultType="web.Entry.User">
          select * from user where username = #{username} and password = #{password}
      </select>

<!--    增加用户-->
       <insert id="addUser" >
           insert into user(username,password,status) values ( #{username}, #{password},0)
      </insert>

<!--     增加管理员-->
    <insert id="addUser1" >
        insert into user(username,password,status) values ( #{username}, #{password},1)
    </insert>


<!--    修改用户密码-->
      <update id="updateUser">
          UPDATE user set password = #{password},phone = #{phone} where username = #{username}
      </update>


<!--    通过用户名删除用户-->
    <delete id="deleteUser">
        delete from user where username = #{username}
    </delete>

</mapper>

        <!--    <select id="login" resultType="minsc.time_app.Entry.User">-->
        <!--        select * from user where name = #{name}-->
        <!--    </select>-->
        <!--    <select id="queryNameIfExist" resultType="minsc.time_app.Entry.User">-->
        <!--        select * from user where name = #{name}-->
        <!--    </select>-->
        <!--    <insert id="addRecord" parameterType="minsc.time_app.Entry.Record">-->
        <!--        insert into record(id, title, date, emo, classify, repeated, name) values (#{id}, #{title}, #{date}, #{emo}, #{classify}, #{repeated}, #{name})-->
        <!--    </insert>-->
        <!--    <delete id="clearAllRecord" parameterType="java.lang.String">-->
        <!--        delete from record where name = #{name}-->
        <!--    </delete>-->
        <!--    <select id="queryAllRecord" resultType="minsc.time_app.Entry.Record">-->
        <!--        select * from record where name = #{name}-->
        <!--    </select>-->
        <!--    <update id="addImgUrl" parameterType="java.lang.String">-->
        <!--        update user set src = #{imgUrl} where name = #{name}-->
        <!--    </update>-->
        <!--    <select id="getImgUrl" resultType="java.lang.String">-->
        <!--        select src from user where name = #{name}-->
        <!--    </select>-->